.twoC {width: 100%}
.clearer {clear: both}
.twoC .table {max-width: 50%; float: right}
.twoC img {max-width: 50%; float: left}


td{
    font-family: Arial; 
    font-size: 6pt;
    padding:0px;
    cellpadding="0";
    cellspacing="0"
  }
  th {
    font-family: Arial; 
    font-size: 4pt;
    height: 20px;
    font-weight: bold;
    text-align: right;
    background-color: #7FBFFF;
  }
  table { 
    border-spacing: 0px;
    border-collapse: collapse;

.reveal section p {
  color: blue;
}




.reveal table td,
.reveal table th
{
    text-align:left;
}

.reveal table td + td,
.reveal table th + th
{
    text-align:right
}


    .reveal h1 { font-size: 1.2em; }
    .reveal h2 { font-size: 1.0em;  }
    .reveal h3 { font-size: 1.0em;	}
    .reveal h4 { font-size: 1em;	}

    .reveal .slides>section,
    .reveal .slides>section>section {
      padding: 0px 0px;
    }



    .reveal table {
      border-width: 1px;
      border-spacing: 2px;
      border-style: solid;
      border-color: black;
      border-collapse: collapse;
      font-size: 0.4em;
    }

    .reveal table th {
      border-width: 1px;
      padding-left: 10px;
      padding-right: 25px;
      font-weight: bold;
      border-style: solid;
      border-color: black;
    }

    .reveal table td {
      border-width: 1px;
      padding-left: 10px;
      padding-right: 25px;
      border-style: solid;
      border-color: black;
    }

   .reveal p {
      font-size: .5em;
   }



  <!-- Formatting for Dropdown Menu -->
    ul{
        padding: 0;
        list-style: none;
        background: #7FBFFF;
    	font-family: Arial; 
	font-size: 1.4em
    }

    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
	font-family: Arial; 
    }

    ul li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
	font-family: Arial; 
    }

    ul li a:hover{
        color: #fff;
        background: #7FBFFF;

    }
    ul li ul.dropdown{
        min-width: 400%; /* Set width of the dropdown */
        background: #7FBFFF;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
	font-size: .9em
    }
    ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }